* {
    margin: 0;
    padding:0;
}

.grupo {
    display: flex;
    flex-direction: column;

}

.cabecalho {
    background-color: darkred;
    color: black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    margin-left: 15px;
}

.menu  a:hover {
    color:red;
}

.conteudo {
    display: flex;
    height: 200px;
}

.navegacao {
    background-color: rgb(red, green, blue);
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.navecacao ul {
    list-style: none;
    padding:0;

}

.navecacao li {
    margin-bottom: 10px;
}


.secao {
    background-color: darkviolet;
    color:blue;

}

.rodape {
    background-color: brown;
    color:yellow;
}