* {
    margin: 0;
    padding: 0;
}

.grupo {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: rgb(9, 219, 191);
    color: rgb(105, 105, 3);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: rgb(226, 226, 226);
    text-decoration: nome;
    margin-left: 15px;
}

.menu a:hover {
    color: rgb(128, 126, 126);
}

.conteudo {
    display: flex;
}

.navegacao {
    background-color: rgb(161, 13, 38);
    color: rgb(0, 134, 252);
    display:inline-block;
    width: 30%;
    padding: 10px; 
}

.navegacao ul {
    list-style: nome;
    padding: 0;
}

.navegacao li {
    margin-bottom: 10px;
}

.secao {
    background-color: rgb(5, 88, 77);
    color: rgb(0, 255, 255);
    display: inline-block;
    width: 70%;
}

.secao p {
    margin-bottom: 10px;
}

.formulario {
    margin-bottom: 10px;
}

.rodape {
    background-color: rgb(89, 112, 112);
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

.redes {
    display: flex;
    align-items: center;
}

.redes img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none   ;
}

.redes a:hover {
    color: black;
    opacity: 0.7;
}